* {
  /*color: deeppink;*/
  background-color: #00B7FF;
  /*background-image: url("/client/66831765-beautiful-hair-beauty-brunette-woman-with-long-straight-red-hair.jpg");*/
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App__Aside{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.mr-20 {
  margin-right: 20px;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid blue;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}